<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 th:text="${producto.id == null} ? 'Nuevo Producto' : 'Editar Producto'"></h1>

        <form th:action="@{/productos/guardar}" method="post" th:object="${producto}">
            <input type="hidden" th:field="*{id}">

			<div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" >
                <div th:if="${#fields.hasErrors('nombre')}" class="text-danger">
                	<span th:each="error : ${#fields.errors('nombre')}" th:text="${error}"></span>
                </div>
            </div>
				
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" >
                <div th:if="${#fields.hasErrors('descripcion')}" class="text-danger">
                    <span th:each="error : ${#fields.errors('descripcion')}" th:text="${error}"></span>
                </div>
            </div>

            <div class="mb-3">
                <label for="peso" class="form-label">Peso</label>
                <input type="number" class="form-control" id="peso" th:field="*{peso}" >
                <div th:if="${#fields.hasErrors('peso')}" class="text-danger">
                    <span th:each="error : ${#fields.errors('peso')}" th:text="${error}"></span>
                </div>
            </div>
			
			<div class="mb-3">
		        <label for="stock" class="form-label">Stock</label>
		        <input type="number" class="form-control" id="stock" th:field="*{stock}" >
		        <div th:if="${#fields.hasErrors('stock')}" class="text-danger">
		            <span th:each="error : ${#fields.errors('stock')}" th:text="${error}"></span>
				</div>
		    </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/productos}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
